* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Russo One", sans-serif;
}

body {
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-height: 100vh;
}
.calculator .screen {
  grid-column: 1/5;
  grid-row: 1/4;
  background-color: #e8f5ff;
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 5rem;
}
.calculator .buttons {
  grid-column: 1/5;
  grid-row: 4/9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculator .buttons button {
  background-color: #2196f3;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
}
.calculator .buttons .operator {
  background-color: #38a2e8;
}
.calculator .buttons .equal {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #014c81;
}