* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Russo One", sans-serif;
}

body {
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-height: 100vh;
}

.space {
  grid-column: 1/5;
  grid-row: 1/4;
  background-color: #e8f5ff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.space #solve {
  color: #2196f3;
  font-size: 4rem;
}

.calculate {
  grid-column: 1/5;
  grid-row: 4/9;
  background-color: #2196f3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculate .enter {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #014c81;
}
.calculate .enter p {
  background-color: #014c81;
}
.calculate .operations {
  grid-column: 1/5;
  grid-row: 2/3;
  background-color: #38a2e8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.calculate .operations #divide {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .operations #multiply {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .operations #plus {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .operations #minus {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .third {
  grid-column: 1/5;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.calculate .third #cancel {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .third #dot {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .third #nine {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .third #eight {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .second {
  grid-column: 1/5;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.calculate .second #seven {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .second #six {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .second #five {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .second #four {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .first {
  grid-column: 1/5;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.calculate .first #three {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .first #two {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .first #one {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.calculate .first #zero {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.enter,
.operations,
.third,
.second,
.first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border: none;
  text-decoration: none;
  font-family: inherit;
}

p {
  color: #fff;
  font-size: 3rem;
}