* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Russo One", sans-serif;
}

body {
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-height: 100vh;
}
.calculator .screen-border {
  grid-column: 1/5;
  grid-row: 1/4;
  background-color: #e8f5ff;
  position: relative;
}
.calculator .screen-border .screen {
  background-color: inherit;
  color: #014c81;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 8rem;
  text-align: right;
}
.calculator .buttons {
  grid-column: 1/5;
  grid-row: 4/9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculator .buttons button {
  background-color: #2196f3;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
}
.calculator .buttons button:focus {
  background-color: #1a8ae6;
  border: 3px solid #fff;
}
.calculator .buttons .operator {
  background-color: #38a2e8;
}
.calculator .buttons .operator:focus {
  background-color: #2b97df;
}
.calculator .buttons .equal {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #014c81;
}
.calculator .buttons .equal:focus {
  background-color: #034370;
}

@media screen and (min-width: 1025px) {
  .body {
    float: right;
    width: 100%;
  }

  .calculator {
    width: 40rem;
    height: 60rem;
    min-height: 0;
    float: right;
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 75%;
    font-family: "Russo One", sans-serif;
  }
}