$blue-color: #2196f3;
$blue2-color: #38a2e8;
$blue3-color: #014c81;
$blue-color-focus: #1a8ae6;
$blue2-color-focus: #2b97df;
$blue3-color-focus: #034370;
$blue-screen: #e8f5ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px = 1rem
  font-family: "Russo One", sans-serif;
}

body {
  cursor: pointer;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-height: 100vh;

  .screen-border {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    background-color: $blue-screen;
    position: relative;

    .screen {
      background-color: inherit;
      color: $blue3-color;
      border: none;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 8rem;
      text-align: right;
      background-color: red;
    }
  }

  .buttons {
    grid-column: 1 /5;
    grid-row: 4 / 9;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    button {
      background-color: $blue-color;
      border: none;
      text-decoration: none;
      color: #fff;
      font-size: 4rem;
      text-transform: uppercase;
      font-family: "Russo One", sans-serif;

      &:focus {
        background-color: $blue-color-focus;
        border: 3px solid #fff;
      }
    }

    .operator {
      background-color: $blue2-color;

      &:focus {
        background-color: $blue2-color-focus;
      }
    }

    .equal {
      grid-column: 1 /5;
      grid-row: 1 / 2;
      background-color: $blue3-color;

      &:focus {
        background-color: $blue3-color-focus;
      }
    }
  }
}
